[Unit]
Description=Start RClone Web GUI and access it in the browser
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
ExecStart=/usr/bin/env bash -l -c "__FINALPATH__/rclone rcd --rc-baseurl __PATH__ --rc-web-gui --rc-web-gui-force-update --rc-web-gui-no-open-browser `cat __FINALPATH__/rc_parameters` --rc-serve"
StandardOutput=append:/var/log/__APP__/__APP__.log
StandardError=inherit

# Sandboxing options to harden security
# Depending on specificities of your service/app, you may need to tweak these 
# .. but this should be a good baseline
# Details for these options: https://www.freedesktop.org/software/systemd/man/systemd.exec.html
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
DevicePolicy=closed
ProtectSystem=full
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
LockPersonality=yes
SystemCallFilter=~@clock @debug @module @mount @obsolete @reboot @setuid @swap

[Install]
WantedBy=multi-user.target
